# Heart Failure PAF Calculations 

This workbook is designed to find the PAF for BMI to heart failure ONLY while NOT considering risk correlation to mediation. The more complex versiont that includes these considerations is in another workbook.

In [1]:
from vivarium import InteractiveContext, Artifact

from datetime import datetime, timedelta
from pathlib import Path
import itertools
import matplotlib.pyplot as plt
import ipywidgets
import pandas as pd, numpy as np
pd.set_option('display.max_rows', 60)
import seaborn as sns

import numpy as np
import researchpy as rp
import statsmodels.api as sm
import statsmodels.formula.api as smf
from matplotlib.backends.backend_pdf import PdfPages
import scipy.stats
from typing import List, Tuple, Union
import scipy.stats as sp

In [2]:
path = Path('/ihme/homes/lutzes/vivarium_nih_us_cvd/src/vivarium_nih_us_cvd/model_specifications/nih_us_cvd.yaml')

In [3]:
sim = InteractiveContext(Path(path), setup=False)
sim.configuration.update({
                          'population':
                              {'population_size': 10_000,
                              },
                          'time':
                              {'start':
                                  {'year': 2021
                                  }
                              }
                          }
                        )
sim.setup()

2023-01-18 11:08:28.008 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering metrics.1.population_manager.metrics as modifier to metrics
2023-01-18 11:08:28.150 | DEBUG    | vivarium.framework.artifact.manager:_load_artifact:66 - Running simulation from artifact located at /ihme/costeffectiveness/artifacts/vivarium_nih_us_cvd/alabama.hdf.
2023-01-18 11:08:28.152 | DEBUG    | vivarium.framework.artifact.manager:_load_artifact:67 - Artifact base filter terms are ['draw == 0'].
2023-01-18 11:08:28.156 | DEBUG    | vivarium.framework.artifact.manager:_load_artifact:68 - Artifact additional filter terms are None.
2023-01-18 11:08:28.443 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline cause_specific_mortality_rate
2023-01-18 11:08:28.444 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline mortality_rate
2023-01-18 11:08:28.791 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline affected_unmodeled.cause_specific_mortality_rate
2023-01-18 11:08:28.791 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline affected_unmodeled.cause_specific_mortality_rate.paf
2023-01-18 11:08:28.792 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering metrics.2.mortality_observer.metrics as modifier to metrics
2023-01-18 11:08:28.793 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline disability_weight
2023-01-18 11:08:28.793 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering metrics.3.disability_observer.metrics as modifier to metrics
2023-01-18 11:08:28.794 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering metrics.4.disease_observer.ischemic_stroke.metrics as modifier to metrics
2023-01-18 11:08:28.795 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering metrics.5.disease_observer.myocardial_infarction.metrics as modifier to metrics
2023-01-18 11:08:28.795 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline sbp_medication_adherence.propensity
2023-01-18 11:08:28.796 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline sbp_medication_adherence.exposure
2023-01-18 11:08:29.101 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline risk_factor.sbp_medication_adherence.exposure_parameters
2023-01-18 11:08:29.102 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline ldlc_medication_adherence.propensity
2023-01-18 11:08:29.103 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline ldlc_medication_adherence.exposure
2023-01-18 11:08:29.407 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline risk_factor.ldlc_medication_adherence.exposure_parameters
2023-01-18 11:08:29.408 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline outreach.propensity
2023-01-18 11:08:29.409 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline outreach.exposure
2023-01-18 11:08:29.574 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline risk_factor.outreach.exposure_parameters
2023-01-18 11:08:29.574 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline risk_factor.outreach.exposure_parameters.paf
2023-01-18 11:08:29.575 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline polypill.propensity
2023-01-18 11:08:29.576 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline polypill.exposure
2023-01-18 11:08:29.685 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline risk_factor.polypill.exposure_parameters
2023-01-18 11:08:29.685 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline risk_factor.polypill.exposure_parameters.paf
2023-01-18 11:08:30.669 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering acute_myocardial_infarction.incidence_rate.1.adjust_target as modifier to acute_myocardial_infarction.incidence_rate
2023-01-18 11:08:30.671 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering acute_myocardial_infarction.incidence_rate.paf.1.lookup_table_12 as modifier to acute_myocardial_infarction.incidence_rate.paf
2023-01-18 11:08:30.886 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering post_myocardial_infarction_to_acute_myocardial_infarction.transition_rate.1.adjust_target as modifier to post_myocardial_infarction_to_acute_myocardial_infarction.transition_rate
2023-01-18 11:08:30.886 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering post_myocardial_infarction_to_acute_myocardial_infarction.transition_rate.paf.1.lookup_table_14 as modifier to post_myocardial_infarction_to_acute_myocardial_infarction.transition_rate.paf
2023-01-18 11:08:31.086 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering acute_ischemic_stroke.incidence_rate.1.adjust_target as modifier to acute_ischemic_stroke.incidence_rate
2023-01-18 11:08:31.086 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering acute_ischemic_stroke.incidence_rate.paf.1.lookup_table_16 as modifier to acute_ischemic_stroke.incidence_rate.paf
2023-01-18 11:08:31.293 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering chronic_ischemic_stroke_to_acute_ischemic_stroke.transition_rate.1.adjust_target as modifier to chronic_ischemic_stroke_to_acute_ischemic_stroke.transition_rate
2023-01-18 11:08:31.294 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering chronic_ischemic_stroke_to_acute_ischemic_stroke.transition_rate.paf.1.lookup_table_18 as modifier to chronic_ischemic_stroke_to_acute_ischemic_stroke.transition_rate.paf
2023-01-18 11:08:32.290 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering acute_myocardial_infarction.incidence_rate.2.adjust_target as modifier to acute_myocardial_infarction.incidence_rate
2023-01-18 11:08:32.292 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering acute_myocardial_infarction.incidence_rate.paf.2.lookup_table_20 as modifier to acute_myocardial_infarction.incidence_rate.paf
2023-01-18 11:08:32.506 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering post_myocardial_infarction_to_acute_myocardial_infarction.transition_rate.2.adjust_target as modifier to post_myocardial_infarction_to_acute_myocardial_infarction.transition_rate
2023-01-18 11:08:32.506 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering post_myocardial_infarction_to_acute_myocardial_infarction.transition_rate.paf.2.lookup_table_22 as modifier to post_myocardial_infarction_to_acute_myocardial_infarction.transition_rate.paf
2023-01-18 11:08:32.707 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering acute_ischemic_stroke.incidence_rate.2.adjust_target as modifier to acute_ischemic_stroke.incidence_rate
2023-01-18 11:08:32.708 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering acute_ischemic_stroke.incidence_rate.paf.2.lookup_table_24 as modifier to acute_ischemic_stroke.incidence_rate.paf
2023-01-18 11:08:32.906 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering chronic_ischemic_stroke_to_acute_ischemic_stroke.transition_rate.2.adjust_target as modifier to chronic_ischemic_stroke_to_acute_ischemic_stroke.transition_rate
2023-01-18 11:08:32.907 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering chronic_ischemic_stroke_to_acute_ischemic_stroke.transition_rate.paf.2.lookup_table_26 as modifier to chronic_ischemic_stroke_to_acute_ischemic_stroke.transition_rate.paf
2023-01-18 11:08:33.905 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering acute_myocardial_infarction.incidence_rate.3.adjust_target as modifier to acute_myocardial_infarction.incidence_rate
2023-01-18 11:08:33.907 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering acute_myocardial_infarction.incidence_rate.paf.3.lookup_table_28 as modifier to acute_myocardial_infarction.incidence_rate.paf
2023-01-18 11:08:34.123 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering post_myocardial_infarction_to_acute_myocardial_infarction.transition_rate.3.adjust_target as modifier to post_myocardial_infarction_to_acute_myocardial_infarction.transition_rate
2023-01-18 11:08:34.124 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering post_myocardial_infarction_to_acute_myocardial_infarction.transition_rate.paf.3.lookup_table_30 as modifier to post_myocardial_infarction_to_acute_myocardial_infarction.transition_rate.paf
2023-01-18 11:08:34.331 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering acute_ischemic_stroke.incidence_rate.3.adjust_target as modifier to acute_ischemic_stroke.incidence_rate
2023-01-18 11:08:34.332 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering acute_ischemic_stroke.incidence_rate.paf.3.lookup_table_32 as modifier to acute_ischemic_stroke.incidence_rate.paf
2023-01-18 11:08:34.535 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering chronic_ischemic_stroke_to_acute_ischemic_stroke.transition_rate.3.adjust_target as modifier to chronic_ischemic_stroke_to_acute_ischemic_stroke.transition_rate
2023-01-18 11:08:34.535 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering chronic_ischemic_stroke_to_acute_ischemic_stroke.transition_rate.paf.3.lookup_table_34 as modifier to chronic_ischemic_stroke_to_acute_ischemic_stroke.transition_rate.paf
2023-01-18 11:08:34.853 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering cause_specific_mortality_rate.1.disease_model.ischemic_stroke.adjust_cause_specific_mortality_rate as modifier to cause_specific_mortality_rate
2023-01-18 11:08:35.117 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline acute_ischemic_stroke.incidence_rate
2023-01-18 11:08:35.118 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline acute_ischemic_stroke.incidence_rate.paf
2023-01-18 11:08:35.334 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline acute_ischemic_stroke.dwell_time
2023-01-18 11:08:35.562 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline acute_ischemic_stroke.disability_weight
2023-01-18 11:08:35.563 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering disability_weight.1.acute_ischemic_stroke.disability_weight as modifier to disability_weight
2023-01-18 11:08:35.799 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline acute_ischemic_stroke.excess_mortality_rate
2023-01-18 11:08:35.800 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline acute_ischemic_stroke.excess_mortality_rate.paf
2023-01-18 11:08:35.801 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering mortality_rate.1.diseasestate.acute_ischemic_stroke.adjust_mortality_rate as modifier to mortality_rate
2023-01-18 11:08:36.021 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline chronic_ischemic_stroke.dwell_time
2023-01-18 11:08:36.244 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline chronic_ischemic_stroke.disability_weight
2023-01-18 11:08:36.246 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering disability_weight.2.chronic_ischemic_stroke.disability_weight as modifier to disability_weight
2023-01-18 11:08:36.469 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline chronic_ischemic_stroke.excess_mortality_rate
2023-01-18 11:08:36.470 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline chronic_ischemic_stroke.excess_mortality_rate.paf
2023-01-18 11:08:36.471 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering mortality_rate.2.diseasestate.chronic_ischemic_stroke.adjust_mortality_rate as modifier to mortality_rate
2023-01-18 11:08:36.569 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline chronic_ischemic_stroke_to_acute_ischemic_stroke.transition_rate
2023-01-18 11:08:36.570 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline chronic_ischemic_stroke_to_acute_ischemic_stroke.transition_rate.paf
2023-01-18 11:08:36.816 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering cause_specific_mortality_rate.2.disease_model.myocardial_infarction.adjust_cause_specific_mortality_rate as modifier to cause_specific_mortality_rate
2023-01-18 11:08:37.048 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline acute_myocardial_infarction.incidence_rate
2023-01-18 11:08:37.049 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline acute_myocardial_infarction.incidence_rate.paf
2023-01-18 11:08:37.272 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline acute_myocardial_infarction.dwell_time
2023-01-18 11:08:37.501 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline acute_myocardial_infarction.disability_weight
2023-01-18 11:08:37.501 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering disability_weight.3.acute_myocardial_infarction.disability_weight as modifier to disability_weight
2023-01-18 11:08:37.734 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline acute_myocardial_infarction.excess_mortality_rate
2023-01-18 11:08:37.735 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline acute_myocardial_infarction.excess_mortality_rate.paf
2023-01-18 11:08:37.735 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering mortality_rate.3.diseasestate.acute_myocardial_infarction.adjust_mortality_rate as modifier to mortality_rate
2023-01-18 11:08:37.944 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline post_myocardial_infarction.dwell_time
2023-01-18 11:08:38.132 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline post_myocardial_infarction.disability_weight
2023-01-18 11:08:38.133 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering disability_weight.4.post_myocardial_infarction.disability_weight as modifier to disability_weight
2023-01-18 11:08:38.382 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline post_myocardial_infarction.excess_mortality_rate
2023-01-18 11:08:38.382 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline post_myocardial_infarction.excess_mortality_rate.paf
2023-01-18 11:08:38.383 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering mortality_rate.4.diseasestate.post_myocardial_infarction.adjust_mortality_rate as modifier to mortality_rate
2023-01-18 11:08:38.482 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline post_myocardial_infarction_to_acute_myocardial_infarction.transition_rate
2023-01-18 11:08:38.482 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline post_myocardial_infarction_to_acute_myocardial_infarction.transition_rate.paf
2023-01-18 11:08:38.483 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline high_ldl_cholesterol.propensity
2023-01-18 11:08:38.484 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline high_ldl_cholesterol.exposure
2023-01-18 11:08:38.484 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline high_ldl_cholesterol.gbd_exposure
2023-01-18 11:08:47.066 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering metrics.6.continuous_risk_observer.risk_factor.high_ldl_cholesterol.metrics as modifier to metrics
2023-01-18 11:08:47.067 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline high_systolic_blood_pressure.propensity
2023-01-18 11:08:47.068 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline high_systolic_blood_pressure.exposure
2023-01-18 11:08:47.069 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline high_systolic_blood_pressure.gbd_exposure
2023-01-18 11:09:00.076 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering metrics.7.continuous_risk_observer.risk_factor.high_systolic_blood_pressure.metrics as modifier to metrics
2023-01-18 11:09:00.077 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline high_body_mass_index_in_adults.propensity
2023-01-18 11:09:00.078 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline high_body_mass_index_in_adults.exposure
2023-01-18 11:09:00.080 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline high_body_mass_index_in_adults.gbd_exposure
2023-01-18 11:09:13.350 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering metrics.8.continuous_risk_observer.risk_factor.high_body_mass_index_in_adults.metrics as modifier to metrics
2023-01-18 11:09:13.573 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline utilization_rate
2023-01-18 11:09:13.611 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering high_systolic_blood_pressure.exposure.1.adjust_target as modifier to high_systolic_blood_pressure.exposure
2023-01-18 11:09:13.612 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering high_ldl_cholesterol.exposure.1.adjust_target as modifier to high_ldl_cholesterol.exposure
2023-01-18 11:09:13.613 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering metrics.9.healthcare_visit_observer.metrics as modifier to metrics
2023-01-18 11:09:13.613 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering metrics.10.person_time_observer.sbp_medication.metrics as modifier to metrics
2023-01-18 11:09:13.614 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering metrics.11.person_time_observer.ldlc_medication.metrics as modifier to metrics
2023-01-18 11:09:13.615 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering risk_factor.outreach.exposure_parameters.1.outreach_intervention._coverage_effect as modifier to risk_factor.outreach.exposure_parameters

In [4]:
pop0 = sim.get_population()
pop0.head()

,tracked,alive,exit_time,age,location,entrance_time,sex,cause_of_death,years_of_life_lost,years_lived_with_disability,...,sbp_medication,ldlc_multiplier,outreach,polypill,ldlc_medication_adherence,sbp_medication_adherence,sbp_multiplier,ldlc_medication,visit_type,scheduled_date
0,True,alive,NaT,47.388882,Alabama,2020-12-04,Female,not_dead,0.0,0.0,...,no_treatment,1.000,cat2,cat2,cat3,cat3,1.0,no_treatment,none,NaT
1,True,alive,NaT,41.564194,Alabama,2020-12-04,Male,not_dead,0.0,0.0,...,no_treatment,1.000,cat2,cat2,cat3,cat3,1.0,no_treatment,none,NaT
2,True,alive,NaT,53.155826,Alabama,2020-12-04,Female,not_dead,0.0,0.0,...,one_drug_half_dose_efficacy,1.362,cat2,cat2,cat3,cat1,1.0,medium_intensity,none,NaT
3,True,alive,NaT,30.457692,Alabama,2020-12-04,Male,not_dead,0.0,0.0,...,no_treatment,1.000,cat2,cat2,cat1,cat3,1.0,no_treatment,none,NaT
4,True,alive,NaT,19.554806,Alabama,2020-12-04,Female,not_dead,0.0,0.0,...,no_treatment,1.000,cat2,cat2,cat1,cat3,1.0,no_treatment,none,NaT

In [5]:
pop1 = pop0[['sex','alive','age']]

In [6]:
#pop0.columns

In [7]:
#sim.list_values()

In [17]:
data1 = pd.concat([pop1,
                   sim.get_value('high_body_mass_index_in_adults.propensity')(pop0.index).rename('bmi_propensity'),
                   sim.get_value('high_body_mass_index_in_adults.exposure')(pop0.index).rename('bmi_exposure'),
                  ], axis=1)
data1.head()

      sex  alive        age  bmi_propensity  bmi_exposure
0  Female  alive  47.388882        0.208828     23.564850
1    Male  alive  41.564194        0.358604     25.661107
2  Female  alive  53.155826        0.531571     34.110372
3    Male  alive  30.457692        0.388049     26.473747
4  Female  alive  19.554806        0.672873      5.000000

In [18]:
data1 = data1.loc[(data1.age > 25) & (data1.alive == 'alive')]

In [19]:
age_group = pd.cut(data1.age, bins=[25,30,35,40,45,50,55,60,65,70,75,80,85,90,125],labels=['25_to_30','30_to_35','35_to_40','40_to_45','45_to_50','50_to_55','55_to_60','60_to_65','65_to_70','70_to_75','75_to_80','80_to_85','85_to_90','90_to_125'])
data1.insert(5, 'age_group', age_group)
data1

         sex  alive        age  bmi_propensity  bmi_exposure age_group
0     Female  alive  47.388882        0.208828     23.564850  45_to_50
1       Male  alive  41.564194        0.358604     25.661107  40_to_45
2     Female  alive  53.155826        0.531571     34.110372  50_to_55
3       Male  alive  30.457692        0.388049     26.473747  30_to_35
6       Male  alive  33.645113        0.199137     22.520013  30_to_35
...      ...    ...        ...             ...           ...       ...
9994    Male  alive  82.973183        0.491704     26.062478  80_to_85
9995  Female  alive  31.875800        0.356089     27.354193  30_to_35
9996    Male  alive  69.906989        0.013521     19.319172  65_to_70
9998  Female  alive  77.277694        0.623941     31.170490  75_to_80
9999    Male  alive  27.612002        0.011760      7.176115  25_to_30

[7448 rows x 6 columns]

## Adding RR and TMREL so I can find the individual RR for a Simulant

Note that while this method will randomly generate data, I eventually need to match the RR's to the simulant for the specific draw. As HF has not been added yet, I am not sure I can do this currently.

Also, we might just have the engineers add this to their initialization tasks instead!

In [20]:
def get_lognorm_from_quantiles(median: float, lower: float, upper: float,
                               quantiles: Tuple[float, float] = (0.025, 0.975)) -> sp.lognorm:
    mu = np.log(median)
    stdnorm_quantiles = sp.norm.ppf(quantiles)
    norm_quantiles = np.log([lower, upper])
    sigma = (norm_quantiles[1] - norm_quantiles[0]) / (stdnorm_quantiles[1] - stdnorm_quantiles[0])
    return sp.lognorm(s=sigma, scale=median)

In [21]:
test2 = get_lognorm_from_quantiles(1.14,1.12,1.16).rvs(size=len(data1))

In [22]:
data1['RR'] = test2
data1.head()

      sex  alive        age  bmi_propensity  bmi_exposure age_group        RR
0  Female  alive  47.388882        0.208828     23.564850  45_to_50  1.147547
1    Male  alive  41.564194        0.358604     25.661107  40_to_45  1.149934
2  Female  alive  53.155826        0.531571     34.110372  50_to_55  1.128442
3    Male  alive  30.457692        0.388049     26.473747  30_to_35  1.125159
6    Male  alive  33.645113        0.199137     22.520013  30_to_35  1.141271

In [23]:
np.random.seed(123)
test3 = np.random.uniform(20,25,len(data1))
test3

array([23.48234593, 21.43069667, 21.13425727, ..., 23.09954019,
       24.65176124, 22.11263259])

In [24]:
data1['TMREL'] = test3
data1.head()

,sex,alive,age,bmi_propensity,bmi_exposure,age_group,RR,TMREL
0,Female,alive,47.388882,0.208828,23.564850,45_to_50,1.147547,23.482346
1,Male,alive,41.564194,0.358604,25.661107,40_to_45,1.149934,21.430697
2,Female,alive,53.155826,0.531571,34.110372,50_to_55,1.128442,21.134257
3,Male,alive,30.457692,0.388049,26.473747,30_to_35,1.125159,22.756574
6,Male,alive,33.645113,0.199137,22.520013,30_to_35,1.141271,23.597345

## Finding the individual simulant's RR and PAF

In [25]:
data1['sim_RR'] = np.nan
for i in range(len(data1)):
    data1['sim_RR'].iloc[i] = data1['RR'].iloc[i]**[max((data1['bmi_exposure'].iloc[i] - data1['TMREL'].iloc[i]),0)]
data1

/tmp/ipykernel_2899862/1716240996.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['sim_RR'].iloc[i] = data1['RR'].iloc[i]**[max((data1['bmi_exposure'].iloc[i] - data1['TMREL'].iloc[i]),0)]

,sex,alive,age,bmi_propensity,bmi_exposure,age_group,RR,TMREL,sim_RR
0,Female,alive,47.388882,0.208828,23.564850,45_to_50,1.147547,23.482346,1.011419
1,Male,alive,41.564194,0.358604,25.661107,40_to_45,1.149934,21.430697,1.805804
2,Female,alive,53.155826,0.531571,34.110372,50_to_55,1.128442,21.134257,4.797101
3,Male,alive,30.457692,0.388049,26.473747,30_to_35,1.125159,22.756574,1.550142
6,Male,alive,33.645113,0.199137,22.520013,30_to_35,1.141271,23.597345,1.000000
...,...,...,...,...,...,...,...,...,...
9994,Male,alive,82.973183,0.491704,26.062478,80_to_85,1.127541,22.670537,1.502553
9995,Female,alive,31.875800,0.356089,27.354193,30_to_35,1.130486,20.679220,2.267484
9996,Male,alive,69.906989,0.013521,19.319172,65_to_70,1.136688,23.099540,1.000000
9998,Female,alive,77.277694,0.623941,31.170490,75_to_80,1.136513,24.651761,2.302893
9999,Male,alive,27.612002,0.011760,7.176115,25_to_30,1.141931,22.112633,1.000000

In [31]:
data_grouped = data1.groupby(['sex', 'age_group'], as_index=False).mean()
data_grouped

,sex,age_group,age,bmi_propensity,bmi_exposure,RR,TMREL,sim_RR
0,Female,25_to_30,27.524968,0.496819,30.964830,1.140213,22.502696,10.304585
1,Female,30_to_35,32.320013,0.529948,33.170805,1.140292,22.530328,24.769630
2,Female,35_to_40,37.568942,0.525717,31.216305,1.140108,22.413765,9.009664
3,Female,40_to_45,42.542961,0.505146,30.647594,1.140671,22.466482,13.883077
4,Female,45_to_50,47.369076,0.500788,31.814019,1.140133,22.610521,13.891266
5,Female,50_to_55,52.503612,0.498852,31.294312,1.140734,22.414429,10.153443
6,Female,55_to_60,57.588265,0.485547,31.579655,1.140294,22.496061,20.909903
7,Female,60_to_65,62.442279,0.502187,33.088281,1.139513,22.371243,34.794125
8,Female,65_to_70,67.407831,0.504204,30.820834,1.141120,22.647597,12.958946
9,Female,70_to_75,72.435931,0.544055,32.437449,1.140902,22.596889,10.105654
10,Female,75_to_80,77.443053,0.468176,28.483486,1.139941,22.644011,6.567436
11,Female,80_to_85,82.155645,0.507338,28.516352,1.139233,22.590955,4.783494
12,Female,85_to_90,87.189861,0.515776,28.818688,1.141274,22.666458,5.813671
13,Female,90_to_125,94.149443,0.487798,28.446228,1.141256,22.086867,5.828582
14,Male,25_to_30,27.415304,0.493850,28.706630,1.139817,22.522015,5.692991
15,Male,30_to_35,32.383649,0.474663,29.852812,1.139529,22.562249,7.256250
16,Male,35_to_40,37.638964,0.500472,31.473183,1.140082,22.601523,21.669418
17,Male,40_to_45,42.436914,0.499249,30.163517,1.139024,22.429572,9.066859
18,Male,45_to_50,47.554843,0.552460,33.137222,1.139951,22.482138,13.104525
19,Male,50_to_55,52.404824,0.497966,30.357768,1.139325,22.533251,11.092713
20,Male,55_to_60,57.529182,0.487938,28.750186,1.139534,22.416593,8.612549
21,Male,60_to_65,62.517055,0.472918,29.414689,1.140002,22.450661,17.915610
22,Male,65_to_70,67.424155,0.483126,29.988164,1.138592,22.441242,3.661314
23,Male,70_to_75,72.371169,0.501343,29.745350,1.140174,22.326527,4.741382
24,Male,75_to_80,77.356547,0.488870,28.056135,1.140841,22.493765,3.735233
25,Male,80_to_85,82.274244,0.531127,27.225717,1.139314,22.321437,2.757013
26,Male,85_to_90,87.084314,0.458062,26.116036,1.137753,22.577703,2.300932
27,Male,90_to_125,95.324696,0.512560,27.149771,1.138434,22.270753,2.721409

In [32]:
data_grouped['PAF'] = (data_grouped['sim_RR'] - 1) / data_grouped['sim_RR']
data_grouped

,sex,age_group,age,bmi_propensity,bmi_exposure,RR,TMREL,sim_RR,PAF
0,Female,25_to_30,27.524968,0.496819,30.964830,1.140213,22.502696,10.304585,0.902956
1,Female,30_to_35,32.320013,0.529948,33.170805,1.140292,22.530328,24.769630,0.959628
2,Female,35_to_40,37.568942,0.525717,31.216305,1.140108,22.413765,9.009664,0.889008
3,Female,40_to_45,42.542961,0.505146,30.647594,1.140671,22.466482,13.883077,0.927970
4,Female,45_to_50,47.369076,0.500788,31.814019,1.140133,22.610521,13.891266,0.928012
5,Female,50_to_55,52.503612,0.498852,31.294312,1.140734,22.414429,10.153443,0.901511
6,Female,55_to_60,57.588265,0.485547,31.579655,1.140294,22.496061,20.909903,0.952176
7,Female,60_to_65,62.442279,0.502187,33.088281,1.139513,22.371243,34.794125,0.971260
8,Female,65_to_70,67.407831,0.504204,30.820834,1.141120,22.647597,12.958946,0.922833
9,Female,70_to_75,72.435931,0.544055,32.437449,1.140902,22.596889,10.105654,0.901045
10,Female,75_to_80,77.443053,0.468176,28.483486,1.139941,22.644011,6.567436,0.847734
11,Female,80_to_85,82.155645,0.507338,28.516352,1.139233,22.590955,4.783494,0.790948
12,Female,85_to_90,87.189861,0.515776,28.818688,1.141274,22.666458,5.813671,0.827992
13,Female,90_to_125,94.149443,0.487798,28.446228,1.141256,22.086867,5.828582,0.828432
14,Male,25_to_30,27.415304,0.493850,28.706630,1.139817,22.522015,5.692991,0.824345
15,Male,30_to_35,32.383649,0.474663,29.852812,1.139529,22.562249,7.256250,0.862188
16,Male,35_to_40,37.638964,0.500472,31.473183,1.140082,22.601523,21.669418,0.953852
17,Male,40_to_45,42.436914,0.499249,30.163517,1.139024,22.429572,9.066859,0.889708
18,Male,45_to_50,47.554843,0.552460,33.137222,1.139951,22.482138,13.104525,0.923690
19,Male,50_to_55,52.404824,0.497966,30.357768,1.139325,22.533251,11.092713,0.909851
20,Male,55_to_60,57.529182,0.487938,28.750186,1.139534,22.416593,8.612549,0.883890
21,Male,60_to_65,62.517055,0.472918,29.414689,1.140002,22.450661,17.915610,0.944183
22,Male,65_to_70,67.424155,0.483126,29.988164,1.138592,22.441242,3.661314,0.726874
23,Male,70_to_75,72.371169,0.501343,29.745350,1.140174,22.326527,4.741382,0.789091
24,Male,75_to_80,77.356547,0.488870,28.056135,1.140841,22.493765,3.735233,0.732279
25,Male,80_to_85,82.274244,0.531127,27.225717,1.139314,22.321437,2.757013,0.637289
26,Male,85_to_90,87.084314,0.458062,26.116036,1.137753,22.577703,2.300932,0.565393
27,Male,90_to_125,95.324696,0.512560,27.149771,1.138434,22.270753,2.721409,0.632543

I expect that the known issues with BMI standard deviation still in the model are causing the PAFs very close to 1. If you use the median, the PAFs are much more reasonable. I think once the model is updated, these issues will be resolved.